# ==============================================================================
# PLATAFORMA DE APROVISIONAMIENTO Y DESPLIEGUE GEOPOS - VARIABLES DE ENTORNO
# ==============================================================================

# --- SERVIDOR WEB Y SEGURIDAD ---
PORT=5000
DEBUG=False
SECRET_KEY=geopos_super_secret_key_prod_2026_x89a1!
SESSION_COOKIE_SECURE=False

# --- REPOSITORIO CENTRAL DE ARTEFACTOS (SSH / SCP) ---
REPO_CENTRAL_IP=172.21.9.12
REPO_CENTRAL_PORT=22
REPO_CENTRAL_USER=geocom
REPO_CENTRAL_PASS=geocom
REPO_CENTRAL_BASE_PATH=/home/geocom/repo_geo

# --- UNIDAD DE NEGOCIO POR DEFECTO (FYBECA | SANASANA) ---
DEFAULT_BUSINESS_UNIT=FYBECA

# --- SERVIDOR DEL LOCAL (MYSQL CENTRALIZADO DEL LOCAL) ---
LOCAL_SERVER_IP=10.108.0.101
LOCAL_SERVER_MYSQL_PORT=3306
LOCAL_SERVER_MYSQL_USER=root
LOCAL_SERVER_MYSQL_PASS=geocom
LOCAL_ID=901

# --- CREDENCIALES POS POR DEFECTO ---
POS_SSH_USER=geocom
POS_SSH_PASS=geocom
POS_SOPORTE_USER=soportegeo
POS_SOPORTE_PASS=F1b3caSopg.2022#
POS_MYSQL_USER=root
POS_MYSQL_PASS=geocom

# --- PERIFÉRICO PINPAD POR DEFECTO ---
PINPAD_IP=10.121.112.81
PINPAD_TERMINAL_ID=S0001728
PINPAD_MERCHANT_CODE=000000832686

# --- CONECTOR ORACLE CENTRAL (ERP / BDD CORPORATIVA) ---
ORACLE_HOST=172.21.10.50
ORACLE_PORT=1521
ORACLE_SERVICE=PRODERP
ORACLE_USER=GEOCOM_READ
ORACLE_PASSWORD=PasswordOracle2026!
ORACLE_ENABLED=False

# --- MODALIDAD DE EJECUCIÓN (SIMULATION vs PRODUCTION) ---
# En modo SIMULATION (True), los comandos SSH y SQL simulan respuestas exitosas reales
# permitiendo verificar la orquestación, compuertas y GUI sin estar conectado físicamente a la red de farmacias.
# Poner en False para ejecución real con Paramiko y MySQL Connector.
SIMULATION_MODE=True
