# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Logs
*.log
SYNAPSE_ORQ/logs/*
!SYNAPSE_ORQ/logs/.gitkeep

# Temporary files
SYNAPSE_ORQ/temp_attachments/*
!SYNAPSE_ORQ/temp_attachments/.gitkeep

# Operating System files
Thumbs.db
Desktop.ini
.DS_Store
